body {
    background-color: #ddddff;
    vertical-align: middle;
    text-align: center;
}

.content {
    position: fixed;
    top: 0px;
    left: 0px;
}

.image {
    height: 70%;
    top: 0px;
    left: 0px;
    position: fixed;
    border: 5px solid red;
    z-index: -10;
}

#imagelist {
    display: none;
}

svg polygon:hover {
    fill: #ffff00 !important;
}

.hex {
    border: 0px solid black;
    opacity: 1;
}

.content {
    display: none;
    
}


.hextext {
    color: white;
}


#pic {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -10;
}


.pic_old {
    background-color:#ffaaaa;
}
.imagediv {
    z-index: -10;
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#full {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 0px;
}

#select {
    position: fixed;
    right: 0px;
    top: 100px;  
    font-size: .6vw;
    z-index: 100;
}

#selectbutton {
    position: fixed;
    right: 0px;
    top: 20px;  
    width: 30px;
    z-index: 100;
    font-size: .7vw;
    padding: 0px;
}
#debug {
    position: fixed;
    right: 0px;
    bottom: 0px;
    /*background-color: #dddddd;*/
    width: 200px;
    height: 20px;
    border: 1px solid black;
    z-index: 11;
    color:#aaffaa;
    opacity: 0.5;
}
